*{
    background-color:#121212;
}
@keyframes cambio-color{
    from{
        background-color: #121212;
    }
    to{
        background-color:#303030 ;
    }
}
@keyframes espaciado{
    from{
        letter-spacing: 0px;
    }
    to{
        letter-spacing: 20px;
    }
}
header{
    /*border:1px solid white;*/
    height: 102px;
}
.menu{
    display: flex;
}
.quienes_somos,.que_hacemos,.que_vendemos,.proximas_entregas,.contacto{
    border:1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
    width: 20%;
    margin-left:5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 10px;
    animation: cambio-color 2s alternate infinite;
}
h4,a{
    color:#7DDFEE;
    font-family:Trebuchet MS;
    font-weight: 30px;
    font-size: 20px;
    animation: cambio-color 2s alternate infinite;
}
h1{
    background-color:#FF69B4;
    color:#121212;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    animation: espaciado 2s alternate infinite;
}
.main{
    /*border:1px solid white;*/
    display: flex;
    width: 100%;
}
.main1{
    /*border:1px solid white;*/
    width:33%;
    margin-left: 3px;
    margin-right: 3px;
    justify-content: center;
    border-radius: 10px;
    background-color: #303030;
}
h2{
    font-family: Courier New;
    text-align: center;
    color:#8A2BE2;
    font-size: 250%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #303030;
}
.encabezado{
    width: 100%;
}
p{
    font-family: monospace;
    color: white;
    font-size: 150%;
    text-align: center;
    background-color: #303030;
}
.img1{
    width: 80%;
    height: 300px;
    /*border: 1px solid white;*/
    margin-left: 10%;
    background-image: url("r1.jfif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #303030;
}
.img2{
    width: 80%;
    height: 300px;
    /*border: 1px solid white;*/
    margin-left: 10%;
    background-image: url("r2.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #303030;
}
.img3{
    width: 80%;
    height: 300px;
    /*border: 1px solid white;*/
    margin-left: 10%;
    background-image: url("r2.jfif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #303030;
}